@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Viga');
@import url('https://fonts.googleapis.com/css?family=Magra');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Magra', sans-serif;
    transition: all 0.3s;
}
body {
    background-color: #212121;
}
body, html{
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8em;
    color: #111111;
}
.saibaMais {
    color: #333333;
    margin-top: 60px;
    font-size: 35px;
    font-weight: bold;
}
.nome {
    color: #333333;
    font-size: 60px;
}
.border{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
}
.info {
    font-size: 25px;
    margin: 5px;
}
.logo {
    width: 400px;
    height: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 60px;
    transition: all 0.6s;
    z-index:2;
}
nav ul {
    list-style: none;
    position: fixed;
}
nav ul li {
    cursor: text;
    float: right;
    width: 140px;
}
nav ul li a:link , nav ul li a:visited {
    text-decoration: none;
    color: white;
    padding: 16px;
    display: block;
    font-size: 18px;
    text-align: center;
}
nav ul li a{
    padding-top: 50px;
    height: 60px;
}
.btn {
    width: 100%;
    height: 40px;
    margin: 5px;
    color: white;
    border: none;
}
.btn:hover {
    transform: scale(0.9);
}
.side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:100px;
    padding-top: 70px;
    margin-left:50px;
}
.sideBar {
    visibility: hidden;
}
label[for=bt_menu]{
    color: black;
    text-align: center;
    font-size: 38px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: all 0.3s;
    z-index: 3;
    position: absolute;
    top:0;
    left:22px;
    margin: 18px;
}
#bt_menu{
    display: none;
}
.side-nav{
    height:100%;
    width:0px;
    position:fixed;
    z-index:3;
    top:0;
    left:0;
    background-color:#111;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:200px;
    transition:0.5s;
}
.side-nav a{
//border: 1px solid red;
    margin: 10px;
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:40px;
    color: #63cbd4;
    display:block;
    transition:0.3s;
}
.side-nav a:hover{
    color:#fff;
}
nav ul li a:hover {
    background-color: #63cbd4;
    color: white;
}
.seta {
    margin-top: 80px;
    width: 100px;
    filter: black;
}
.pimg1{
    background-image: url("../imagens/bg4.jpg");
    min-height: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
.galeriaPort{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.sobre {
    position: relative;
    top: 80px;
    z-index: 3;
    color: yellow;
}
.hide {
    opacity: 0.1;
}
.opcao {
    text-align: center;
    font-size: 28px;
    margin-top: 28px;
    font-weight: bold;
    color: #63cbd4;
}
.margin{
    margin: 20px;
}
.flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
    border-bottom: 3px solid #63cbd4;
}
.sectionPortifolio {
    background-color: #212121;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center;
}
.imgArticle1 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    margin: 10px 15px 0 15px;
}
.textJustify {
    text-align: justify;
    text-justify: inter-word;

}
.tituloFooter{
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #63cbd4;
}
.divIcones {
    display: flex;
    width: 300px;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.icones {
    width: 60px;
    margin: 10px;
}
.pIcones {
    font-size: 35px;
    text-align: center;
    color: #63cbd4;
}
.pFooter{
    color: #63cbd4;
    text-align: center;
    text-justify: inter-word;
    margin-bottom: 30px;
}
.titulos {
    text-align: center;
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #63cbd4;
}
header {
    margin: 0px 0px 0px 0px;
}
}
[class^="col-"] {
    width:100%;
    float:left;
    padding:5px;
    border: 1px solid red;
}
.col-dg-1{width: 8.33%;}
.col-dg-2{width: 16.66%;}
.col-dg-3{width: 25%;}
.col-dg-4{width: 33.33%;}
.col-dg-5{width: 41.66%;}
.col-dg-6{width: 50%;}
.col-dg-7{width: 58.33%;}
.col-dg-8{width: 66.66%;}
.col-dg-9{width: 75%;}
.col-dg-10{width: 83.33%;}
.col-dg-11{width: 91.66%;}
.col-dg-12{width: 100%;}

@media screen and (max-width: 729px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}
@media screen and (min-width:730px) and (max-width: 1000px){
    label[for=bt_menu]{
        font-size: 70px;
        margin-top: 100px;
    }
    nav{
        display: none;
    }
    .nome{
        font-size: 80px;
    }
    .info{
        font-size: 30px;
    }
    .saibaMais{
        font-size: 50px;
    }
    .sideBar {
        visibility: visible;
    }
    .titulos{
        font-size: 60px;
    }
    .opcao{
        font-size: 50px;
    }
    .icones {
        width: 100px;
        margin: 10px;
    }
    .logo {
        width: 700px;
        height: 100%;
    }
    .flex{
        flex-direction: column;
    }
    .pimg1{
        background-image: url("../imagens/bg4.jpg");
        min-height: 60%;
        height: 60%;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;
    }
    .imgArticle1{
        margin: auto;
        width: 600px;
        height: 600px;
    }
    .col-dm-1{width: 8.33%;}
    .col-dm-2{width: 16.66%;}
    .col-dm-3{width: 25%;}
    .col-dm-4{width: 33.33%;}
    .col-dm-5{width: 41.66%;}
    .col-dm-6{width: 50%;}
    .col-dm-7{width: 58.33%;}
    .col-dm-8{width: 66.66%;}
    .col-dm-9{width: 75%;}
    .col-dm-10{width: 83.33%;}
    .col-dm-11{width: 91.66%;}
    .col-dm-12{width: 100%;}
}
.linha:after {
    content:"";
    display:block;
    clear:both;
}
.container {
    margin:0px 20px;
}
.container-fluid {
    margin:0px;
}