@font-face{
      font-family: Montserrat;
      src: url("../fonts/Montserrat-Medium.otf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.6s;
    font-family: Montserrat;
}
body, html{
      height: 100%;
      line-height: 1.8em;
      color: #111111;
}
.logoSideNav {
      margin-left: 26px;
      margin-top: 10px;
      margin-bottom: 30px;
      width: 300px;
      height: 70px;
}
.logoNav{
      margin-left: 60px;
      margin-top: 20px;
      width: 250px;
      height: 60px;
      position: absolute;
}
.logo{
      width: 250px;
      height: 60px;
}
nav {
      background: #ebf3f6;
      width: 100%;
      height: 85px;
      transition: all 0.6s;
      z-index:2;
}
nav ul {
      list-style: none;
      margin-right: 40px;

}
nav ul li {
      cursor: text;
      float: right;
      width: 90px;
}
nav ul li a:link , nav ul li a:visited {
      text-decoration: none;
      color: #111111;
      padding: 16px;
      display: block;
      font-size: 14px;
      text-align: center;
}
nav ul li a{
      margin-top: 10px;
      padding-top: 60px;
      height: 60px;
}
nav ul li a:hover {
      color: #54a0ff;
}
.side-nav .btn-close{
      position:absolute;
      top:0;
      right:22px;
      font-size:100px;
      padding-top: 70px;
      margin-left:50px;
}
.sideBar {
      visibility: hidden;
}
label[for=bt_menu]{
      color: #54a0ff;
      text-align: center;
      font-size: 38px;
      cursor: pointer;
      width: 100px;
      height: 100px;
      transition: all 0.3s;
      z-index: 3;
      position: absolute;
      top:0;
      left:22px;
      margin: 18px;
}
#bt_menu{
      display: none;
}
.side-nav{
      height:100%;
      width:0;
      position:fixed;
      z-index:3;
      top:0;
      left:0;
      background-color:#111;
      opacity:0.9;
      overflow-x:hidden;
      padding-top:200px;
      transition:0.5s;
}
.side-nav a{
//border: 1px solid red;
      margin: 10px;
      padding:10px 10px 10px 30px;
      text-decoration:none;
      font-size:40px;
      color: #54a0ff;
      display:block;
      transition:0.3s;
}
.side-nav a:hover{
      color:#fff;
}
.imagemHeader{
      background-image: url("../imagens/Banner/Banner.jpg");
      min-height: 100%;
      height: 100%;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      z-index: -1;
}
.divHeader{
      position: absolute;
      top: 25%;
      width: 100%;
      text-align: center;
      z-index: 5;
}
.h1Header{
      width: 350px;
      text-align: left;
      line-height: 50px;
      font-size: 35px;"
}
.pHeader {
      text-align: left;
      margin: 0;
}
.styleBtnHeader{
      float: none;
      margin: auto;
}
.border{
      width: 500px;
      position: absolute;
      right: 180px;
      top: 80px;
      float: right;
      color: white;
}
.foto{
      border-radius: 50%;
      width: 200px;
      margin: 10px;
}
.divResponsivo{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    padding: 50px 80px;
}
.sobre{
      text-align: center;
      background-color: white;
}
.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.cases{
      background-color: #3ac2e9;
      width: 100%;
      height: 180px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
}
.imgGaleria{

      padding: 0;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin: auto;
}
.imgCases{
      border-radius: 5px;
      margin: 2px;
      width: 300px;
}
.pCases{
      color: white;
      text-align: left;
}
.divImgServiços{
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
}
.imgServiços{
      width: 100%;
      border-radius: 5px;
}
.frases{
      background-color: #3ac2e9;
      color: white;
      text-align: center;
      padding: 70px;
}
.divFrase{
      width: 100%;
      background-color: black;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
}
.imgFrase{
      width: 250px;
}
.divClientes{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
}
.imgClientes{
      margin: 10px 45px 10px 45px;
      opacity: 0.6;
}
.formulario{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      flex-direction: column;
      padding: 100px;
}
.formP{
      width: 600px;
      text-align: center;
}
.inputs{
      padding: 10px;
      width: 100%;
      border: 1px solid #3ac2e9;
      height: 50px;
      border-radius: 5px;
      margin: 15px;
}
.btnHeader{
      width: 180px;
      height: 50px;
      border: none;
      border-radius: 25px;
      color: white;
      float: left;
      background-color: inherit;
      border: 2px solid #10c9c3;
      margin-top: 40px;
}
.btnHeader:hover{
      background-color: #10c9c3;
}
.btnEnviar{
      width: 200px;
      height: 50px;
      border: none;
      border-radius: 10px;
      color: white;
      background-color: #29a2c5;
      margin: 30px;
}
.titulos, p {
      margin: 15px;
}
.logoFooter{
      margin-top: 38px;
      margin-left: 50px;
      float: left;
}
.footer{
      background-color: #084354;
}
.divFlex{
      display: flex;
      justify-content: center;
      margin: auto;
      flex-direction: row;
}
.pFooter{
      margin: 5px;
}
.direitoAutoral{
      color: white;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      float: left;
}
.pDireitoAutoral{
      margin-left: 60px;
}
.mapaSite, .footerEmail {
      position: relative;
      margin: 38px 20px 38px 20px;
      color: white;
      font-size: 15px;
      display: flex;
      flex-direction: column;
}
.ancoras{
      list-style: none;
      text-decoration: none;
      color: white;
}
.footerEmail{
      margin: 38px 100px 38px 100px;
}
.btn{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
}
.btnVerCases {
    width: 200px;
    height: 30px;
    background-color: inherit;
    border: none;
    margin: auto;
}
}
[class^="col-"] {
    width:100%;
    float:left;
}
.col-dg-1{width: 8.33%;}
.col-dg-2{width: 16.66%;}
.col-dg-3{width: 25%;}
.col-dg-4{width: 33.33%;}
.col-dg-5{width: 41.66%;}
.col-dg-6{width: 50%;}
.col-dg-7{width: 58.33%;}
.col-dg-8{width: 66.66%;}
.col-dg-9{width: 75%;}
.col-dg-10{width: 83.33%;}
.col-dg-11{width: 91.66%;}
.col-dg-12{width: 100%;}

@media screen and (max-width: 729px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}
@media screen and (min-width:730px) and (max-width: 1000px){
    label[for=bt_menu]{
        font-size: 70px;
        margin-top: 100px;
    }
    nav{
        display: none;
    }
    .sideBar {
        visibility: visible;
    }
    .border{
        top: -170px;
        left: 250px;
        width: 500px;
    }
    .imagens{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .imagemHeader{
        height: 55%;
        min-height: 55%;
    }
    .btnHeader{
        border-radius: 35px;
        float: inherit;
        width: 300px;
        height: 80px;
        font-size: 20px;
    }
    .h1Header{
        text-align: center;
        margin: auto;
    }
    .pHeader {
        text-align: center;
        margin: auto;
    }
    .styleBtnHeader{
        margin-left: auto;
        margin-right: auto;
    }
    .imgGaleria{
        flex-direction: column;
    }
    .pCases{
        color: white;
        text-align: left;
        font-size: 20px;
        margin-left: 50px;
    }
    .imgCases{
        width: 100%;
    }
    .imagens{
        flex-direction: column;
    }
    .foto{
        width: 500px;
    }
    .pStyle{
        color: black;
        text-align: center;
        font-size: 32px;
        margin: 10px;
    }
    .h1Style{
        color: black;
        line-height: 50px;
        font-size: 50px;
    }
    .divFrase{
        height: 180px;
    }
    .imgFrase{
        width: 350px;
    }
    .divClientes{
        flex-direction: column;
    }
    .imgClientes{
        width: 250px;
    }
    .inputs{
        padding: 10px;
        width: 600px;
        height: 75px;
        border-radius: 5px;
        font-size: 20px;
        border: none;
        margin: 15px;
    }
    .col-dm-1{width: 8.33%;}
    .col-dm-2{width: 16.66%;}
    .col-dm-3{width: 25%;}
    .col-dm-4{width: 33.33%;}
    .col-dm-5{width: 41.66%;}
    .col-dm-6{width: 50%;}
    .col-dm-7{width: 58.33%;}
    .col-dm-8{width: 66.66%;}
    .col-dm-9{width: 75%;}
    .col-dm-10{width: 83.33%;}
    .col-dm-11{width: 91.66%;}
    .col-dm-12{width: 100%;}
}
.linha:after {
    content:"";
    display:block;
    clear:both;
}
.container {
    margin:0 20px;
}
.container-fluid {
    margin:0;
}

