@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Viga');
@import url('https://fonts.googleapis.com/css?family=Magra');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Magra', sans-serif;
    transition: all 0.3s;
}
body, html{
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8em;
    color: #666;
}
.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    opacity: 0.7;
}
.seta {
    margin-top: 80px;
    width: 100px;
}
.btn {
    z-index: 3;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-top: 60px;
    border: none;
    color: #282828;
    font-size: 20px;
    background-color: #FDA50F;
}
.btnForm{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    color: #282828;
    font-size: 20px;
    background-color: #FDA50F;
}
.pimg1{
    background-image: url("../imagens/img1.jpg");
    min-height: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
.imgArticle1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
.imgArticle2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
.border{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}
.logo {
    width: 600px;
    margin: auto;
    z-index: 3;
}
.sectionForm {
    margin-top: 30px;
    background-color: #141414;
}
.footer {
    background-color: #FDA50F;
}
.divIcones {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    flex-direction: column;
}
.icones {
    width: 60px;
    margin: 10px;
}
.textJustify {
    text-align: justify;
    text-justify: inter-word;
}
.pFooter{
    color: black;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 30px;
}
.tituloFooter{
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: bold;
    color: black;
}
.titulos {
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #FDA50F;
}
.formulario {
    display: flex;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    width: 600px;

    flex-direction: column;
}
input[type="text"] {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    padding: 20px;
    border-radius: 3px;
    border: none;
}
input[type="text"]::placeholder {
    color: #FDA50F;
}
textarea::placeholder {
    color: #FDA50F;
}
textarea {
    width: 100%;
    height: 130px;
    padding: 20px;
    border-radius: 3px;
    border: none;
}

.sectionSports {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center;
    padding: 50px 80px;
}
header {
    margin: 0px 0px 0px 0px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(left, rgba(253,165,15,1) 1%,rgba(255,195,11,1) 100%);
    width: 100%;
    height: 60px;
    transition: all 0.6s;
    z-index:2;
}
nav ul {
    list-style: none;
}
nav ul li {
    cursor: text;
    float: right;
    width: 150px;
}
nav ul li a:link , nav ul li a:visited {
    text-decoration: none;
    color: #111111;
    padding: 16px;
    display: block;
    font-size: 18px;
    text-align: center;
}
nav ul li a{
    padding-top: 50px;
    height: 60px;
}
.side-nav .btn-close{

    position:absolute;
    top:0;
    right:22px;
    font-size:100px;
    padding-top: 70px;
    margin-left:50px;
}
.sideBar {
    visibility: hidden;
}
label[for=bt_menu]{
    color: #FFC30B;
    text-align: center;
    font-size: 38px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: all 0.3s;
    z-index: 3;
    position: absolute;
    top:0;
    left:22px;
    margin: 18px;
}
#bt_menu{
    display: none;
}
.side-nav{
    height:100%;
    width:0px;
    position:fixed;
    z-index:3;
    top:0;
    left:0;
    background-color:#111;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:200px;
    transition:0.5s;
}
.side-nav a{
    //border: 1px solid red;
    margin: 10px;
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:40px;
    color:#ccc;
    display:block;
    transition:0.3s;
}

.side-nav a:hover{
    color:#fff;
}

nav ul li a:hover {
    background-color: #111111;
    color: white;
}
}
[class^="col-"] {
    width:100%;
    float:left;
    padding:5px;
    border: 1px solid red;
}
.col-dg-1{width: 8.33%;}
.col-dg-2{width: 16.66%;}
.col-dg-3{width: 25%;}
.col-dg-4{width: 33.33%;}
.col-dg-5{width: 41.66%;}
.col-dg-6{width: 50%;}
.col-dg-7{width: 58.33%;}
.col-dg-8{width: 66.66%;}
.col-dg-9{width: 75%;}
.col-dg-10{width: 83.33%;}
.col-dg-11{width: 91.66%;}
.col-dg-12{width: 100%;}

@media screen and (max-width: 729px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}
@media screen and (min-width:730px) and (max-width: 1000px){
    label[for=bt_menu]{
        font-size: 70px;
        margin-top: 100px;
    }
    nav{
        display: none;
    }
    .sideBar {
        visibility: visible;
    }
    .logo{
        width: 800px;
    }
    .btn{
        width: 400px;
        height: 60px;
        font-size: 40px;
    }
    .btnForm{
        font-size: 40px;
        height: 80px;
    }
    .formulario {
        width: 100%;
    }
    input[type="text"] {
        margin-bottom: 20px;
        width: 100%;
        height: 80px;
        padding: 20px;
        border-radius: 3px;
        border: none;
        font-size: 40px;
    }
    textarea {
        font-size: 40px;
        width: 100%;
        height: 130px;
        padding: 20px;
        border-radius: 3px;
        border: none;
    }
    .icones {
        width: 100px;
        margin: 10px;
    }
    .pimg1{
        background-image: url("../imagens/img1.jpg");
        min-height: 60%;
        height: 60%;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;
    }
    .imgArticle1,.imgArticle2 {
        float: inherit;
        margin: 50px;
        width: 600px;
        height: 600px;
    }

    .col-dm-1{width: 8.33%;}
    .col-dm-2{width: 16.66%;}
    .col-dm-3{width: 25%;}
    .col-dm-4{width: 33.33%;}
    .col-dm-5{width: 41.66%;}
    .col-dm-6{width: 50%;}
    .col-dm-7{width: 58.33%;}
    .col-dm-8{width: 66.66%;}
    .col-dm-9{width: 75%;}
    .col-dm-10{width: 83.33%;}
    .col-dm-11{width: 91.66%;}
    .col-dm-12{width: 100%;}
}

.linha:after {
    content:"";
    display:block;
    clear:both;
}
.container {
    margin:0px 20px;
}
.container-fluid {
    margin:0px;
}